@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --fontAll: 'Montserrat', 'sans-serif';
    --colorBlue: #4D92FA;
    --colorSubHeader: #BFD8FF;
    --colorWhite:#fff;
    --colorBlack:#242424;
}

html {
    font-size: 16px;
    font-family: var(--fontAll);
}
body {
    width: 100vw;
    height: 100vh;
    display: flex;
    font-family: var(--fontAll);
    flex-direction: column;
}

main{
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}


.boxTable{
    margin-top:4rem;
}

.table thead  {
  color: var(--colorBlack);
  background-color: var(--colorSubHeader);
}

#firstTh{
    border-left: 4px solid var(--Main-Azul, #4D92FA);
    background: var(--Main-Azul-Reduzido, #BFD8FF);
}

.table thead tr th {
    text-align: center;
}


table.dataTable thead > tr > th.sorting:after, table.dataTable thead > tr > th.sorting_asc:after, table.dataTable thead > tr > th.sorting_desc:after, table.dataTable thead > tr > th.sorting_asc_disabled:after, table.dataTable thead > tr > th.sorting_desc_disabled:after, table.dataTable thead > tr > td.sorting:after, table.dataTable thead > tr > td.sorting_asc:after, table.dataTable thead > tr > td.sorting_desc:after, table.dataTable thead > tr > td.sorting_asc_disabled:after, table.dataTable thead > tr > td.sorting_desc_disabled:after {
    display: none;
}
table.dataTable thead > tr > th.sorting:before, table.dataTable thead > tr > th.sorting_asc:before, table.dataTable thead > tr > th.sorting_desc:before, table.dataTable thead > tr > th.sorting_asc_disabled:before, table.dataTable thead > tr > th.sorting_desc_disabled:before, table.dataTable thead > tr > td.sorting:before, table.dataTable thead > tr > td.sorting_asc:before, table.dataTable thead > tr > td.sorting_desc:before, table.dataTable thead > tr > td.sorting_asc_disabled:before, table.dataTable thead > tr > td.sorting_desc_disabled:before {
    display: none;
}

#myPrincipalCheckBox{
    margin-left: 13px;
}

#example_filter label input::placeholder {
    color: transparent;
}

#example_length{
    margin-top: 0.5rem;
}

#example_filter label input {
    border: none;
    outline: none;
    margin-top: 0.5rem;
    border-bottom: 3px solid var(--colorBlue);
    
}
example_length{
    display: flex;
    flex-direction: column;
    margin-top: 1.1rem;
}

#alinha{
    margin-left: 1rem ;
}




